@import "./font-dm-sans.css";
@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dm-sans: "DM Sans", system-ui, sans-serif;
}

.max-screen-wrapper {
  @apply w-full px-[20px] lg:px-[90px] ;
}

.max-screen-inner {
  @apply w-full max-w-[1336px] mx-auto;
}

@custom-variant dark (&:is(.dark *));

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
} */

body {
  font-family: 'DM Sans', sans-serif;
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: proximity; */
}

html {
  scroll-behavior: smooth;
}

.plane {
  cursor: url('/icons/planetry.svg')3 3, auto;
}

.glass {
  cursor: url('/icons/glass.svg')3 3, auto;
  z-index: 100;
}

@theme {
  --color-oxford: #010A13;
  --color-france: #2A88F4;
   --color-sapphire: #0956AE;
  --color-powder: #90AECF;
}




